div {
    border: 2px solid red;
}

body {
    background-color: black;
    color: white;
    padding: 0px 0px;
    margin: 0px 0px;
}

/* Navigation Bar */

nav {
    border: 1px solid aqua; 
    border-radius: 10px ;
    min-height: 5vh;
}

/* Hero Section */

.hero-image-container {
    width: 100%;
    height: 90vh;
    overflow: hidden;
}

.hero-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Divider */

.divider-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.divider-line {
    height: 10px;         
    background-color: aqua;
    width: 90%;
    margin: 10px 0; 
    border-radius: 5px;
}

/* About Us Section */

#vertical-columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#about-us-section {
    padding: 40px;
}

#vertical-columns {
    display: flex;
    align-items: flex-start; 
    gap: 40px;
}

#about-us-text {
    flex: 1;
}

#about-us-image img {
    height: 70vh;  
    width: auto;   
    display: block;
}